<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Youtube Downloader</title>

  </head>
  <body>
    <h1>Youtube Downloader</h1>
    <form id="form" action="/info" method="get">
      <input type="text" id="url" name="url" placeholder="Youtube URL">
      <button id="btn" type="button" name="button" onclick="submitForm()">Download</button>
    </form>
    <hr />
    <% if(data) {%>
      <div class="">
          <h3>Video Details</h3>
          <p>
            <%=data.playerResponse.videoDetails.title%>
            </p>
      </div>
    <%}%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
