<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Youtube Downloader</title>
  </head>
  <body>
    <h1>Youtube Downloader</h1>
    <form class="" action="/download" method="get">
      <input type="text" name="url" value="" placeholder="Youtube URL">
      <button type="submit" name="button">Download</button>
    </form>
  </body>
</html>
